#root {
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    /* display: flex; */
    justify-content: center;
}

.navbar{
    padding: 0.5rem;
    margin: 0 0 2rem; 
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item-link{
    font-size: 2em;
    color: #29b6b7;
    text-decoration: none !important;
}

.nav-item-button{
    font-size: 2rem;
    border: white;
    border-radius: 25px;
}

.login-header{
  text-align: center;
}

.login-header-test{
    border: 1px gray solid;
    border-radius: 5px;
    text-align: center;
}

.app-container{    
    justify-content: center;
    align-items: center;
}

.form-page{
    display: flex;
}